/* css.sty */

body {
  font-size: 14pt;
  width: 70%;
  margin: auto auto;
}

figure.figure img.graphics {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: min(1000px, 100%);
}

p,
.cmtt-10 {
  font-family: "Times New Roman", Times, serif;
}
